Q1. What are data structures, and why are they important?

Ans: Way of organizing and storing data so that it can be accessed and manipulated efficiently

types of data structre :
*String
* lists
*tuples
*set
*Dictionary
*Array

They are important to store the data and manipulate it efficiently.

Q2.  Explain the difference between mutable and immutable data types with examples?

Ans:
**Mutable:** The data can be changed after creation,we can modify,add or delete elements

e.g:lists=[10,20,30]

lists.append(40)

lists

o/p:[10,20,30,40]

**Immutable:** The data cant be changed after creation ,It creates a new object when you try to change it.

E.g:tuples=(10,20,30)

tuples[0]=40

o/p: error 'tuple' doesnot allow item assignment

Q3.What are the main differences between lists and tuples in Python?

Ans:lists :It is represented in [ ],
           It is mutable,
            It uses dynamic data ,
            Methods present are like append,remove, extend etc..
  
Tuples:It is repesented  in (),
It is immutable,
It uses fixed data,
Methods present are count,index.

Q4.Describe how dictionaries store data?

Ans:A dictionary in python stores data in key-value pairs,using a data structure.

E.g:my_dict{"name":"Prudhvi","age":29}

my_dict

o/p:{"name":"Prudhvi","age":29}

Q5.Why might you use a set instead of a list in Python?

Ans:We might use a set instead of lists for following reasons:

*A set stores unique values only while lists store duplicate values.

*A set helps in faster membership Testing(in and not in )

*A set support powerful operations like union,intersection,difference

Q6.What is a string in Python, and how is it different from a list?

Ans: It is a sequence of character which represents  textual data

*Strings are immutable

*It has specific methods like .upper(),.lower(),.split() etc..

*it is used to represent textual data .
* it is represented in " "

While lists can contain any type of elements ,It is mutable ,it has specific methods like .append(),.remove() etc.. it is represented i [ ].

Q7.How do tuples ensure data integrity in Python?

Ans:Tuples ensure data integrity mainly through  immutability .
which means once a tuple is created its content can't be changed like no adding,no removing or no changing of the elements.

Q8.What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table is a data structure that stores key-value pairs and allows  fast access to data using a key .

In python the dictionary is implemented using a hash table.

Q9.Can lists contain different data types in Python?

Ans.Yes, lists contain different data types in python as it can store hetrogeneous data .

E.g:lists=["Prudhvi",1,2.2,True,3+5j]

lists

o/p:

["Prudhvi",1,2.2,True,3+5j]

Q10. Explain why strings are immutable in Python?

Ans:Strings are immutable because once it is created it cannot be changed.

As it avoids  accidental change .

It is faster in performance,It reuses string objects.

Q11.What advantages do dictionaries offer over lists for certain tasks?

Ans:The Advantages that dictionary offers over lists are:

*It acesses values directly using keys

*Dictinary uses discriptive  keys instead of relying on position like lists do

*Dictionary avoids index errors

*It is easy to add or remove key value pair easily in dictionary

Q12.Describe a scenario where using a tuple would be preferable over a list?

Ans:The best scenario where tuple would be more preferable over a list is employee details.

Employee1=("Prudhvi","Devloper",60001)

Employee1

o/p:("Prudhvi","Devloper",60001)

Q13. How do sets handle duplicate values in Python?
Ans.
In Python set automatically removes duplicate values and stores unique values

E.g:Set1={1,2,3,3,2,1}

Set1

o/p:{1,2,3}

Q14.How does the “in” keyword work differently for lists and dictionaries?

Ans:"in" Keyword in lists check whether value is there or not in the list

While "in" keyword in dictinary check whether key is present in the  dictionary not the value

Q15.Can you modify the elements of a tuple? Explain why or why not ?

Ans.No We cannot modify the elements of a tuple because tupleas are immutable which means no new elements can be added or removed or changed once the its created.

Q16.What is a nested dictionary, and give an example of its use case?

Ans:Nested dictionary  is a dictionary inside another dictionary .It allows you to group related data  in a structured and hierarchical way

E.g:

Student={"name":"prudhvi","marks":{"Science":90,"maths":85},"age":29}

print(Student["name"])

o/p:prudhvi

print(Student["marks"]["maths"])

o/p:85

Q17. Describe the time complexity of accessing elements in a dictionary?

Ans:Accessing an element by key in a dictionary is very fast .

It uses a hash table internally for dictionaries.

It computes the hash of the key

Jumps directly to the memory location.

Retrives the value in constant time

Q18.In what situations are lists preferred over dictionaries?

Ans:The situations where lists are prefeered over dictionaries are:
  
  when you need to maintain order of elements

  when key - value pair is not required

  When you need access by index

  In storing homogeneous data

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. In earlier versions of  python (3.7) dictionaries were considered as  as unordered because they didnot  guarantee the order in which keys were stored or returned. It became difficult to analyze the data in order.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans: the difference between a list and a dictionary in terms of data retrieval are:

Lists:

 Access by position index

 uses integer indices  staarting from 0

 order of elements matter

Dictionaries:

Access by key not index.

Uses a key to retrive the associated value

Order of element is not used

## **Practical** **Questions**

Q1. Write a code to create a string with your name and print it?

In [ ]:
# Write a code to create a string with your name and print it?

name=input(str("enter your name: "))
name

enter your name: Prudhvi

'Prudhvi'

Q2.Write a code to find the length of the string "Hello World"?

In [ ]:
#Write a code to find the length of the string "Hello World"?
s="Hello World"
len(s)

11

Q3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
s="Python Programming"
s[0:3]

'Pyt'

Q4.Write a code to convert the string "hello" to uppercase?

In [ ]:
#Write a code to convert the string "hello" to uppercase?
s="hello"
s.upper()

'HELLO'

Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
s="I like apple"
s1=s.replace("apple","orange")
s1

'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
#) Write a code to create a list with numbers 1 to 5 and print it?

p=[1,2,3,4,5]
p

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
l=[1,2,3,4]
l.append(10)
l

[1, 2, 3, 4, 10]

Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
q=[1,2,3,4,5]
q.remove(3)
q

[1, 2, 4, 5]

Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
t=['a', 'b', 'c', 'd']
t[1]

'b'

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
u=[10, 20, 30, 40, 50]
u[::-1]

[50, 40, 30, 20, 10]

Q11.11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1=(100, 200, 300)
tuple1

(100, 200, 300)

Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color=('red', 'green', 'blue', 'yellow')
color[-2]

'blue'

Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple2=(10, 20, 5, 15)
min(tuple2)

5

Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple3=('dog', 'cat', 'rabbit')
tuple3.index('cat')

1

Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple4=("orange","mango","Kiwi")
if "Kiwi" in tuple4:
  print("Kiwi is present")
else:
  print("kiwi is not present")

Kiwi is present

Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={"a","b","c"}
set1

{'a', 'b', 'c'}

Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2={1, 2, 3, 4, 5}
set2.clear()
set2

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [ ]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3={1, 2, 3, 4}
set3.remove(4)
set3

{1, 2, 3}

Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4={1,2,3}
set5={3,4,5}
sets=set4 |set5
sets

{1, 2, 3, 4, 5}

Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
k={1,2,3}
l={2,3,4}
m=k&l
m

{2, 3}

Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"Prudhvi","age":"28","city":"Kolkata"}
dict1

{'name': 'Prudhvi', 'age': '28', 'city': 'Kolkata'}

Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2={'name': 'John', 'age': 25}
dict2["country"]="USA"
dict2

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3={'name': 'Alice', 'age': 30}
dict3["name"] # both will give the same o/p:
dict3.get("name")

'Alice'

Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4['age']
# dict4.pop("age") both will give the same output
dict4

{'name': 'Bob', 'city': 'New York'}

Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5={'name': 'Alice', 'city': 'Paris'}
s=dict5.keys()
if 'city' in s:
  print("city exists in the dictionary")
else:
  print("city doesnot exist in the dictionary")

city exists in the dictionary

Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lists=["Prudhvi",1,2.2,True,5+8j]
print("list: ",lists)
tuples=("Prudhvi",1,2.2,True,5+8j)
print("tuple: ",tuples)
dicts={"name":"Prudhvi","city":"Kolkata"}
print("Dictionary: ",dicts)

list:  ['Prudhvi', 1, 2.2, True, (5+8j)]
tuple:  ('Prudhvi', 1, 2.2, True, (5+8j))
Dictionary:  {'name': 'Prudhvi', 'city': 'Kolkata'}

Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
k=5
ran_numbers=random.sample(range(1,101),k)
ran_numbers.sort()
print(ran_numbers)

[19, 24, 40, 49, 55]

Q28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
#Write a code to create a list with strings and print the element at the third index.
list1=["Ram","Shyam","Prudhvi","Akash","Rohit","Himanshu"]
list1[3]

'Akash'

Q29.Write a code to combine two dictionaries into one and print the result.

In [ ]:
#Write a code to combine two dictionaries into one and print the result.

dict6={"name":"Prudhvi","Age":29}
dict7={"contact":984757328}
dict6.update(dict7)
dict6

{'name': 'Prudhvi', 'Age': 29, 'contact': 984757328}

Q30.Write a code to convert a list of strings into a set.

In [ ]:
#Write a code to convert a list of strings into a set.
list2=["Ram","Shyam","Prudhvi","Akash","Rohit","Himanshu","Ram","Shyam"]
sets=set(list2)
print(sets,type(sets))

{'Shyam', 'Rohit', 'Akash', 'Prudhvi', 'Himanshu', 'Ram'} <class 'set'>